<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ayvytr.easyandroidtest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".other.PopupWindowActivity"/>
        <activity android:name=".other.PackagesActivity">
        </activity>
        <activity android:name=".other.SystemInfoActivity">
        </activity>
        <activity android:name=".other.BitmapActivity">
        </activity>
        <activity
            android:name=".fullscreen.TestFullScreenActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name=".fullscreen.TestFullScreenActivity2"
            android:parentActivityName=".fullscreen.TestFullScreenActivity"
            android:theme="@style/Base.Widget.AppCompat.Light.ActionBar">
        </activity>
        <activity
            android:name=".stickyheader.StickyHeaderActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".stickyheader.BasicStickyHeaderActivity"
            android:parentActivityName=".stickyheader.StickyHeaderActivity">
        </activity>
        <activity
            android:name=".stickyheader.TestStickyActivity1"
            android:parentActivityName=".stickyheader.StickyHeaderActivity"/>
        <activity
            android:name=".stickyheader.TestStickyActivity2"
            android:parentActivityName=".stickyheader.StickyHeaderActivity"/>
        <activity android:name=".customview.FlowLayoutActivity">
        </activity>
        <activity android:name=".network.NetworkActivity">
        </activity>
        <activity
            android:name=".customview.QuickIndexViewActivity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity android:name=".customview.AuthEditTextActivity2">
        </activity>
        <activity android:name=".other.WebViewActivity">
        </activity>
    </application>

</manifest>